@font-face {
    font-family: 'Condiment';
    font-style: normal;
    font-weight: 400;
    src: local('Condiment'), local('Condiment-Regular'), url(condiment.woff) format('woff');
}
@font-face {
    font-family: 'Gafata';
    font-style: normal;
    font-weight: 400;
    src: local('Gafata'), local('Gafata-Regular'), url(gafata.woff) format('woff');
}
@font-face {
    font-family: 'Oregano';
    font-style: normal;
    font-weight: 400;
    src: local('Oregano'), local('Oregano-Regular'), url(oregano.woff) format('woff');
}