form.edit input {
    max-width: 150px;
}
form.edit input.big {
    max-width: 500px;
}
form.edit label {
    display: block;
    float: left;
    width: 120px;
}
form.edit label:after {
    content: ":";
}
form.edit br {
    clear: left;
}
form.edit input[type=submit] {
    float: right;
}

