body {
    background-image: url("../img/bg.jpg");
    font-family: 'Gafata', sans-serif;
}
h1 {
    text-align: center;
    text-shadow: 0px 0px 16px #fff;
    font-family: 'Condiment', cursive;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
header {
    max-width: 500px;
    margin: auto;
}
section#page {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
}
section.main {
    position: absolute;
    left: 0px;
    background: #fff;
    background-image: url("../img/paper_bg.jpg");
    border: 1px solid #000;
    width: 98%;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 3px 3px 6px #333;
}
#index.shaded {
    left: -270px;
    width: 50%;
}
#list.shaded {
    left: 0px;
}

ul.lists a {
    font-size: 19pt;
    text-decoration: none;
    font-family: 'Oregano', cursive;
    color: #000;
}
ul.lists a:hover {
    color: #500;
}

#back {
    float: left;
    margin-top: -4px;
}
h2 {
    margin-top: 4px;
}
h2#listname {
    padding-left: 25px;
    font-family: 'Oregano', cursive;
}
input,button {
    font-family: 'Gafata', sans-serif;
    font-size: 16pt;
}
table.list {
    width: 100%;
}
table.list input[type=text] {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #333;
    font-family: 'Oregano', cursive;
}
table.list th {
    font-family: 'Oregano', cursive;
    font-size: 16pt;
    text-align: left;
    padding-top: 12px;
}
table.list td:nth-child(3) {
    width: 14px;
}
table.list td.checkbox {
    height: 36px;
    width: 32px;
    background-image: url("../img/box.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
table.list tr.done td.checkbox {
    background-image: url("../img/boxcheck.png");
}

#sync {
    position: absolute;
    left: 8px;
    top: -40px;
    cursor: pointer;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.sync {
    background-image: url("../img/button_green_off.png");
}
.sync_on {
    background-image: url("../img/button_green_on.png");
}
.sync_old {
    background-image: url("../img/button_orange_on.png");
}
.sync_error {
    background-image: url("../img/button_red_on.png");
}
.done td input {
    color: #606060;
}
.done td input {
    text-decoration: line-through;
}
nav#tools {
    float: right;
}
nav#tools img {
    margin: 8px;
}
.delchecked {
    cursor: pointer;
    margin-left: 8px;
}
.hidden {
    display: none;
}
.handle {
    cursor: move;
}
div#passCheck {
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    float: right;
}
div.pass {
    background-image: url("../img/button_green_off.png");
}
div.ok {
    background-image: url("../img/button_green_on.png");
}
div.shallow {
    background-image: url("../img/button_orange_on.png");
}
div.fail {
    background-image: url("../img/button_red_on.png");
}
.error {
    color: red;
    font-weight: bold;
}
table.list td#newCatCell {
    width: 100px;
}